html {
    height: 100%;
}

body {
    font-size: 13px;
}

.login-container {
    width: 100%;
    height: 100%;
    .signin {
        width: 100%;
        height: 100%;
        padding-top: 50px;
        // display: flex;
        * {
            box-sizing: border-box;
        }
        // background: url("img/login_bg.png") no-repeat;
        // background-size: 100% 100%;
    }
    .top-div {
        background: url("img/sxc_title.png") no-repeat center;
        width:540px;
        height: 51px;
        margin: 0 auto;
    }
    .middle-div {
        background: url("img/bj.png") no-repeat center;
        width:100%;
        height: 522px;
        margin-top: 50px;
    }
    .middle-count-div {
        width:1201px;
        margin: 0 auto;
    }
    .left-div {
        float: left;
        width:671px;
        // width: 12.52rem;
        // height: 100%;
    }
    .right-div {
        float: left;
        // margin-right: 10vw;
        background-color:rgba(71, 129, 254, 0.8);
        margin-top: 15px;
    }
    .right-div-form {
        width: 350px;
        height: 390px;
        background: #fff;
        // display: flex;
        align-items: center;
        margin: 10px;
    }
    .logo {
        width: 671px;
        height: 426px;
        // margin-left: 18vw;
        background: url("img/zbd.png") no-repeat;
        background-size: 100% 100%;
    }
    .error-text {
        position: absolute;
        bottom: 130px;
    }
    #frmLogin {
        width: 280px;
        margin-left: 35px;
        padding-bottom: 20px;
        position: relative;
    }
    #frmLogin label {
        margin-bottom: 0;
    }
    #frmLogin .title {
        font-size: 28px;
        text-align: center;
        color: #4781fe;
        font-weight: bold;
        padding-top:20px;
    }
    #frmLogin .title_sm {
        margin: 15px 0 30px;
    }
    #frmLogin .title_sm .title_hx_left {
        width: 20px;
        // background-color: #ccc;
        background: -webkit-gradient(linear, right top, left top, from(#ccc), to(#eef1f6)) !important;
        background: linear-gradient(to left, #ccc, #eef1f6) !important;
        height: 1px;
        margin-top: 9px;
    }
    #frmLogin .title_sm .title_hx_right {
        width: 20px;
        // background-color: #ccc;
        background: -webkit-gradient(linear, right top, left top, from(#eef1f6), to(#ccc)) !important;
        background: linear-gradient(to left, #eef1f6, #ccc) !important;
        height: 1px;
        margin-top: 9px;
    }
    #frmLogin .title_sm .title_count {
        width: 230px;
        font-size: 16px;
        color: #999;
        margin: 0 5px;
        text-align: center;
        height: 20px;
        line-height: 20px;
    }
    #frmLogin .title_sm .title_float {
        float: left;
    }
    #frmLogin input {
        height: 45px;
        width: 100%;
        border: 0;
        color: #333;
        border: 1px solid #4781fe !important;
        margin-bottom: 22px;
        padding: 6px 4px;
        font-size: 14px;
        outline: none;
    }
    #frmLogin input.icon-input {
        padding-left: 35px;
    }
    #frmLogin input.icon-input.user {
        background: url("img/user_icon.png") no-repeat 10px;
    }
    #frmLogin input.icon-input.pwd {
        background: url("img/pwd_icon.png") no-repeat 10px;
    }
    #frmLogin .login-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;
        color: #999;
        font-size: 13px;
    }
    #frmLogin .login-info .el-checkbox__label {
        color: #4781fe;
        font-size: 13px;
    }
    #frmLogin #btnSubmit {
        height: 48px;
        width: 280px;
        // border-radius: 24px;
        border-radius: 3px;
        font-size: 18px;
        // background: -webkit-gradient(linear, right top, left top, from(#2fc1ff), to(#4e8fff)) !important;
        // background: linear-gradient(to left, #2fc1ff, #4e8fff) !important;
        background-color: #4781fe;
        color: #fff;
        margin-top: 30px;
        -webkit-appearance: none;
        text-align: center;
        cursor: pointer;
    }
    #frmLogin #btnSubmit.btn[disabled] {
        opacity: 1;
        cursor: not-allowed;
    }
    #message {
        color: red;
        margin-top: 0.2rem;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        padding-left: 0.04rem;
    }
    .hide {
        display: none !important;
    }
    input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color: #ccc !important;
    }
    input:-moz-placeholder, textarea:-moz-placeholder {
        color: #ccc !important;
    }
    input::-moz-placeholder, textarea::-moz-placeholder {
        color: #ccc !important;
    }
    input:-ms-input-placeholder, textarea:-ms-input-placeholder {
        color: #ccc !important;
    }
    .loading-box {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 9999;
    }
    .loading-box i {
        font-size: 0.5rem;
        color: #222;
    }

    .footer {
        // position: fixed;
        // bottom: 0;
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 15px;
        color: #333;
        text-align: center;
        margin: 20px 0;
    }
    .clearfix {
        &:after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
        }
    }
}

