.info-box {
    position: relative;
    .float-btn {
        position: absolute;
        right: 20px;
        top: 13px;
    }
    .el-collapse-item__wrap,
    .el-collapse-item:last-child {
        margin-bottom: 0;
    }
    .detail-box {
        margin: 0 -5px;
        width: calc(100% + 10px);
        color: #fff;

        .item {
            width: calc(25% - 10px);
            height: 70px;
            padding: 0 10px;
            margin: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &.blue {
                background-color: #27a9e3;
            }
            &.green {
                background-color: #28b779;
            }
            &.purple {
                background-color: #852b99;
            }
            &.orange {
                background-color: #ffb848;
            }
            i {
                width: 40px;
                height: 40px;
                background-size: 100%;
            }
            .key,.name{
                text-align: right;
            }
            .key{
                font-size: 20px;
                margin: -8px 0;
            }
            .name {
                font-size: 14px;
            }
        }
        .icon1 {
            background: url("~img/img_numbertrips.png") no-repeat;
        }
        .icon2 {
            background: url("~img/img_mileage.png") no-repeat;
        }
        .icon3 {
            background: url("~img/img_averagedailymileage.png") no-repeat;
        }
        .icon4 {
            background: url("~img/img_fuelconsumption.png") no-repeat;
        }
        .icon5 {
            background: url("~img/img_lapsedtime.png") no-repeat;
        }
        .icon6 {
            background: url("~img/img_idletime.png") no-repeat;
        }
        .icon7 {
            background: url("~img/img_consumption.png") no-repeat;
        }
        .icon8 {
            background: url("~img/img_idlingconsumption.png") no-repeat;
        }
    }

}
